aws_account_number = "YOUR_AWS_ACCOUNT_NUMBER"
aws_region         = "eu-west-1"
tf_s3_bucket      = "YOUR_TERRAFORM_S3_BUCKET"
tf_s3_key         = "YOUR_TERRAFORM_S3_KEY"
environment        = "prod"
rds_master_username = "YOUR_DB_USERNAME"
rds_master_password = "YOUR_DB_PASSWORD"
rds_instances_config = {
  "my-rds-instance-1" = {
    engine_type         = "PostgreSQL"
    notification_method = "PagerDuty"
    alarms = {
      CPUUtilization = {
        threshold = 90
      }
      FreeStorageSpace = {
        threshold = 5368709120 // 5 GB in bytes
      }
    }
  }
  "my-rds-instance-2" = {
    engine_type         = "MySQL"
    notification_method = "Email"
    alarms = {
      CPUUtilization = {
        threshold = 75
      }
    }
  }
}
